*{
margin:0px;
padding:0px;
}
@font-face {
font-family:oswald;
src:url(../css/oswald.ttf);
}
@font-face {
font-family:roboto-regular;
src:url(../css/roboto-regular.ttf);
}
body {
margin:0 auto;
width:100%;
background-color: #fff;
}
header {
margin:0 auto;
position:relative;
width:1920px;
height:920px;
background: url(../img/img_bg.jpg) no-repeat;
background-size:contain; 
background-color: #f0689e;
}
.logo_text {
position:absolute;
left:4%;
top:4%;
color:#fff;
font-family:oswald;
font-size:30px;
text-transform:uppercase;
text-decoration: none;
list-style-type: none;
}
.logo_text a {
text-decoration: none;
list-style-type: none;
color:#fff;
}
nav {
position:absolute;
right:2%;
top:4%;
color:#fff;
font-family: oswald;
font-size:12px;
text-transform:uppercase;
list-style-type: none;
}
nav ul {
list-style-type: none;
}
nav li {
list-style-type: none;
display: inline-block;
padding-right:15px;
}
nav li > a {
text-decoration: none;
}
nav li > a:link {
color:#fff;
}
nav li > a:hover {
color:#fff;
}
nav li > a:visited {
color:#fff;
}
.clearfix {
	zoom: 1;
}
.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.header_text {
margin:0 auto;
color:#fff;
text-align: center;
font-family:roboto-regular;
font-size:40px;
margin-top:15%;
}
.header_text1 {
font-size:20px;margin-top:0;
}
.uppercase {
text-transform:uppercase;
}
.product_categories {
width:50%;
margin:0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top:-3%;
}
.categori {
width:150px;
height:150px;
text-align: center;
color:#222;
box-shadow:0 0 20px 0px #aaa;
font-family:roboto-regular;
font-size:13px;
text-transform:uppercase;
background-color: #fff;
z-index:150;
}
.categori img {
margin-top:10px;
}
.categori p {
margin-top:10px;
}
.sprite {display: inline-block; vertical-align: middle;}
.sprite {background-image: url(sprites/50aa169632fbc0e876bdadc846b8d757.png); 
background-position: left center; background-repeat: no-repeat;}
.sprite.angularjs_png {background-position: 0 0; width: 76px; height: 76px;}
.sprite.banner_menu_bg_png {background-position: -77px 0; width: 40px; height: 40px;}
.sprite.footer_icon01_png {background-position: -118px 0; width: 41px; height: 41px;}
.sprite.footer_icon02_png {background-position: -160px 0; width: 41px; height: 41px;}
.sprite.footer_icon03_png {background-position: -202px 0; width: 41px; height: 41px;}
.sprite.footer_icon04_png {background-position: -244px 0; width: 41px; height: 41px;}
.sprite.icon01_png {background-position: -286px 0; width: 40px; height: 58px;}
.sprite.icon02_png {background-position: -327px 0; width: 59px; height: 58px;}
.sprite.icon03_png {background-position: -387px 0; width: 58px; height: 51px;}
.sprite.icon11_png {background-position: -446px 0; width: 83px; height: 78px;}
.sprite.icon12_png {background-position: -530px 0; width: 69px; height: 83px;}
.sprite.icon13_png {background-position: -600px 0; width: 83px; height: 83px;}
.sprite.ionic_png {background-position: -684px 0; width: 62px; height: 62px;}
.sprite.laravel_png {background-position: -747px 0; width: 70px; height: 51px;}
.sprite.node_js_png {background-position: -818px 0; width: 52px; height: 57px;}
.sprite.wordpress_png {background-position: -871px 0; width: 63px; height: 64px;}

.section_intro {
margin:0 auto;
background-color: #fff;
width:50%;
/*border: 1px solid #000;*/
}
.intro-button {
width:200px;
height:50px;
font-size:13px;
background-color:#fed45c;
border-radius: 25px;
text-transform:uppercase;
}
.intro-left {
display:inline-block;
width:50%;
color:#222;
font-size: 35px ;
/*border: 1px solid #000;*/
padding:20px;
vertical-align: middle;
}
.intro2 {
font-size: 35px ;
/*border: 1px solid #000;*/
padding:20px;
}
.window {
width:556px;
height:311px;
background-color:#d0d0d0;
}
.news {

}