*{
margin:0px;
padding:0px;
}
@font-face {
font-family:oswald;
src:url(../css/oswald.ttf);
}
@font-face {
font-family:roboto-regular;
src:url(../css/roboto-regular.ttf);
}
body {
margin:0 auto;
width:100%;
background-color: #fff;
}
header {
margin:0 auto;
position:relative;
width:1920px;
height:920px;
background: url(../img/img_bg.jpg) no-repeat;
background-size:contain; 
background-color: #f0689e;
}
.logo_text {
position:absolute;
left:4%;
top:4%;
color:#fff;
font-family:oswald;
font-size:30px;
text-transform:uppercase;
text-decoration: none;
list-style-type: none;
}
.logo_text a {
text-decoration: none;
list-style-type: none;
color:#fff;
}
nav {
position:absolute;
right:2%;
top:4%;
color:#fff;
font-family: oswald;
font-size:12px;
text-transform:uppercase;
list-style-type: none;
}
nav ul {
list-style-type: none;
}
nav li {
list-style-type: none;
display: inline-block;
padding-right:15px;
}
nav li > a {
text-decoration: none;
}
nav li > a:link {
color:#fff;
}
nav li > a:hover {
color:#fff;
}
nav li > a:visited {
color:#fff;
}
.clearfix {
	zoom: 1;
}
.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.header_text {
margin:0 auto;
color:#fff;
text-align: center;
font-family:roboto-regular;
font-size:40px;
margin-top:15%;
}
.product_categories {
width:50%;
margin:0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top:-3%;
}
.categori {
width:150px;
height:150px;
text-align: center;
color:#222;

font-family:roboto-regular;
font-size:13px;
text-transform:uppercase;
background-color: #fff;
z-index:150;
}
.categori img {
margin-top:10px;
}
.categori p {
margin-top:10px;
}
